version: "3.9"

services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=octopus
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
